@using WebApplication.Test.ViewModels
@model EmployeeListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>

    <table border="1" cellpadding="5">
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach (EmployeeViewModel employee in Model.Employees)
        {
            <tr>
                <td>@employee.FullName</td>
                <td style=" background-color: @employee.SalaryColor; color: @employee.FontColor">@employee.Salary</td>
            </tr>
        }
    </table>
    <a href="/Employee/AddNew">Add New</a>

    </body>
</html>
