@using WebApplication.Test.ViewModels
@model EmployeeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeView</title>
</head>
<body>
    <br />
    <b>Employee Details:</b><br />
    Employee Name: @Model.FullName <br />
    Salary:<span style="background-color : @Model.SalaryColor">@Model.Salary</span><br />

</body>
</html>
