@using WebApplication.Test.ViewModels
@model EmployeeListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmployee</title>
</head>
<body>
    <h2>Employees</h2>
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.FullName</td>
                <td style="background-color: @employee.SalaryColor">@employee.Salary</td>
            </tr>
        }
    </table>

</body>
</html>
